<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Cleiton Correa"/>  
    <meta name="description" content="Documento de realizado para a empresa NeoAssist"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
    <title>Teste NeoAssiste Back-End</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
      <div class="container" style="padding-bottom: 30px;">
        <div class="row">
          <div class="col-md-12 center">
            <h3 class="jumbotron">Interações com o  Cliente</h3>
          </div>
        </div>     
        
          <div class="row" id="tabelaInteracoes">
            <div class="col-md-12">
              <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Assunto</th>
                    <th>Mensagem</th>
                    <th>Data de Abertura</th>
                    <th>Enviado por: </th>
                   
                  </tr>
                </thead>
                <tbody id="tbody2">              
                </tbody>
              </table>       
            </div>
          </div>
            <a href="../index.html" class="btn btn-danger">Voltar</a><hr>
      </div>

      <footer id="footer-2" class="wide-60 footer division">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-8 col-lg-7">
              <div class="footer-info p-right-30 m-bottom-40"> 
                <img src="../img/logo-neoassist.png" alt="footer-logo">
              </div>
            </div>
          </div>        
          <div class="bottom-footer" style="float: left;">
            <div class="row">
              <div class="col-md-12" >
                <div class="footer-copyright">
                  <p>&copy; 2018 <span>NeoAssist.</span> All Rights Reserved</p>                  
                </div>
              </div>        
            </div> 
          </div> 
        </div> 
      </footer>
      <script src="../js/jquery-3.2.1.min.js"></script>  
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/customInteractions.js"></script>  
</body>
</html>